

body		{background-color: #C4EBC8;
			font-family: Garamond, serif;
			font-size: 18px;
			}
			
h1			{color: #202A25;
			letter-spacing:.5rem;
			text-shadow: 1px 1px 2px #2A2025;
			font-size: 50px;
			}
			
h2			{color: #fc8e57;
			text-shadow: 1px 1px 1px #41381a;
			letter-spacing:.3rem;
			font-size: 30px;
			font-weight: bold;
			}
			
h3			{color: #3c4a3e;
			letter-spacing: .3rem;
			font-size: 22px;
			font-weight: lighter;
			}
			
p			{color: #202A25;
			;
			}

a			{
			font-weight: bold;
			color: #202A25;
			text-decoration: none;
			}
a:hover		{color: #005bce;
			}

ol 			{
			list-style-type: none;
			}

ul 			{
			list-style-type: none;
			}


li			{
			list-style-type: none;
			}

img			{
			opacity: 0.2;
			}

.box {
	border: 1px solid;
	border-style: groove;
	border-color: #effdf0;
	margin: 5px;
	background: rgb(34,193,195,0.4);
	background: linear-gradient(90deg, rgba(34,193,195,0.4) 0%, rgba(253,187,45,0.4) 100%);

}

.box2 {
	border: 1px solid;
	border-style: groove;
	border-color: #effdf0;
	margin: 5px;
	background: rgb(98, 288,255,0.3);
	background: linear-gradient(45deg, rgba(98,228,255,0.3) 0%, rgba(0,52,75,0.3) 100%);

}

.innerbox {
	border: 1px solid;
	border-color: #effdf0;
	margin: 5px;
	background-color: #ffefca;

}

.innerbox2 {
	border: 1px solid;
	border-color: #dab9fb;
	margin: 5px;
	background-color: #e6f4f1;
}