body		{background-color: #C4EBC8;
			font-family: Courier, monospace;}
			
h1			{color: #202A25;
			letter-spacing:.5rem;
			font-family: FreeMono, monospace; }
			
h2			{color: #5F4BB6;
			letter-spacing:.3rem;
			font-family: FreeMono, monospace; }
			
p			{color: #202A25;}

a			{
			font-weight: bold;
			color: #202A25;
			text-decoration: none;
			}
a:hover		{color: #86A5D9;
			}

.box {
	border: 1px solid;
	border-style: groove;
	border-color: #5F4BB6;
	margin: 5px;
	height: 250px;
	background-color: #F9D4BB;

}
